/Calculator Charge/.vs/Calculator Charge/DesignTimeBuild/.dtbcache.v2
/Calculator Charge/.vs/Calculator Charge/FileContentIndex/c985b2e9-ef82-461f-9a78-7db6a9c79515.vsidx
/Calculator Charge/.vs/Calculator Charge/v17/.futdcache.v2
/Calculator Charge/.vs/Calculator Charge/v17/.suo
/Calculator Charge/.vs/ProjectEvaluation/calculator charge.metadata.v7.bin
/Calculator Charge/.vs/ProjectEvaluation/calculator charge.projects.v7.bin
/Calculator Charge/Calculator Charge/bin/Debug/netcoreapp3.1/Calculator Charge.dll
/Calculator Charge/Calculator Charge/bin/Debug/netcoreapp3.1/Calculator Charge.exe
/Calculator Charge/Calculator Charge/bin/Debug/netcoreapp3.1/Calculator Charge.pdb
/Calculator Charge/Calculator Charge/bin/Debug/netcoreapp3.1/Calculator Charge.runtimeconfig.dev.json
/Calculator Charge/Calculator Charge/Calculator.cs
/Calculator Charge/Calculator Charge/obj/Calculator Charge.csproj.nuget.dgspec.json
/Calculator Charge/Calculator Charge/obj/Calculator Charge.csproj.nuget.g.props
/Calculator Charge/Calculator Charge/obj/Calculator Charge.csproj.nuget.g.targets
/Calculator Charge/Calculator Charge/obj/Debug/netcoreapp3.1/apphost.exe
/Calculator Charge/Calculator Charge/obj/Debug/netcoreapp3.1/Calculator Charge.AssemblyInfo.cs
/Calculator Charge/Calculator Charge/obj/Debug/netcoreapp3.1/Calculator Charge.AssemblyInfoInputs.cache
/Calculator Charge/Calculator Charge/obj/Debug/netcoreapp3.1/Calculator Charge.assets.cache
/Calculator Charge/Calculator Charge/obj/Debug/netcoreapp3.1/Calculator Charge.csproj.BuildWithSkipAnalyzers
/Calculator Charge/Calculator Charge/obj/Debug/netcoreapp3.1/Calculator Charge.csproj.CoreCompileInputs.cache
/Calculator Charge/Calculator Charge/obj/Debug/netcoreapp3.1/Calculator Charge.csproj.FileListAbsolute.txt
/Calculator Charge/Calculator Charge/obj/Debug/netcoreapp3.1/Calculator Charge.dll
/Calculator Charge/Calculator Charge/obj/Debug/netcoreapp3.1/Calculator Charge.GeneratedMSBuildEditorConfig.editorconfig
/Calculator Charge/Calculator Charge/obj/Debug/netcoreapp3.1/Calculator Charge.genruntimeconfig.cache
/Calculator Charge/Calculator Charge/obj/Debug/netcoreapp3.1/Calculator Charge.pdb
/Calculator Charge/Calculator Charge/obj/Debug/netcoreapp3.1/Calculator Charge.sourcelink.json
/Calculator Charge/Calculator Charge/obj/project.assets.json
/Calculator Charge/Calculator Charge/obj/project.nuget.cache
